html {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

.disabled{
    opacity: 0.5;
}

.ion-activated {
    --background-activated: #F5F4F2;

}

.delete-from-cart {
    transition: 0.5s;
    background: #ff0000 !important;
}

.cat-block {
    scroll-margin-top: 100px;
}

.restaurant-head {
    height: 250px;
}

.img-full {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ion-avatar {

    width: 100px;
    height: 100px;
}

.loading-spinner {
 width: 100%;
 height: 50px;
}

.restaurant-name {
    font-weight: 700;
}

ion-icon {
    width: 20px;
    height: 20px;

    color: #E96E0E;

}

.work-time {
    font-weight: 400;
}

.nav-menu {
    background-color: #fff;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    margin: 0;

    z-index: 99;
}


.categories::-webkit-scrollbar {
    display: none;
}
  

.categories {
    -ms-overflow-style: none; 
    scrollbar-width: none;

    background-color: #fff;

    margin: 0;
    padding: 5px;
    

} 

.segment-button-checked {
    color: #E96E0E;
    background-color: #fff;
    box-shadow: none;
}



.ios ion-label {
    font-size: large;
    text-decoration: none;
    padding: 10px;
}

ion-label:hover {
    color: #E96E0E;
}

.item-card {
    display: block;
    background-color: #F5F4F2;
    margin: 0;
    height: 310px;
    border-radius: 14px;
    position: relative; /* Добавляем позиционирование для родительского элемента */
}

.item-img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.item-price {
    color: black;
    font-size: large;
}

.item-name {
    font-size: large;
    font-weight: 300;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-add {
    display: flex;
    position: absolute; /* Абсолютное позиционирование для кнопки */
    bottom: 5px; 
    left: 0; 
    width: 100%;
    height: 35px;
    padding: 0px 5px 5px 5px;
}

.item-add-btn {
    color: #000;
    --background: #fff;

    width: 100%;
    height: 100%;
    --border-radius: 14px;
}

.item-add-btn ion-icon{
    color: #000;
}

.category-name {
    padding: 5px;
}

.block {
    width: 100%;
    height: 90vh;

}

ion-modal {
    --height: auto;
}

.item-add-block {
    font-size: large;
    width: 100%;
    height: auto;
    padding-bottom: 10px;

    background-color: #fff;
    
    position: fixed;
    bottom: 0px;
}

.add-group-btns{
    height: 60px;
}

.add-to-cart-btn {
    color: #fff;
    background: #E96E0E;

    width: 100%;
    height: 100%;
    border-radius: 14px;
}

.back-to-menu {
    color: #fff;
    background: #E96E0E;

    width: 100%;
    height: 100%;
    border-radius: 14px;
}

.counter {
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
}
.counter button {  
    display: flex;

    width: 100%;
    height: 100%;
    border-radius: 14px;

    align-items: center;
    justify-content: center;

}
.counter button ion-icon {
    color: #000;
}


.counter .counter-value {
    width: 50px;
    height: 100%;
    text-align: center;
    border: 0;
}

.description-block {
    padding: 10px;
}

.next-div-container {
    
    width: 100%;
    height: 65px;
    background-color: #fff;
    border-radius: 14px 14px 0 0;
    padding: 5px; 

    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
}

.next-btn {
    color: #fff;
    font-weight: bold;
    background-color: #E96E0E;
    border-radius: 14px;
    width: 100%; 
    height: 55px;
}


.next-btn-price {
    font-weight: 500;
    opacity: 0.8;
    text-align: end;
    padding-right: 10px;
    
}

.next-btn-count {
    font-weight: 500;
    opacity: 0.8;
    text-align: start;
    padding-left: 10px;
}

/* cart */
.cart-page {
    --background: #f0f0f0;
}

.cart-toolbar {
    --padding-top: 15px;
    --padding-start: 15px;
    --padding-end: 15px;

    --background: #fff;
    --border-color: #fff
}


ion-back-button {
    color: #000
}

.cart-list {
    border-radius: 0 0 14px 14px;
}

.ios ion-item {
    margin: 0 15px 0 0;
    --inner-padding-start: 0px;
    --inner-padding-end: 5px;
}

.ios ion-item ion-grid {
    padding: 5px 0;
}

.cart-item-grid {
    --ion-grid-columns: 15;
}

.ios ion-item ion-grid ion-row ion-col {
    padding: 5px;
    
 
}


.cart-item-img-box {
    display: flex;
    align-items: center; 
    justify-content: center; 
}



.item-cart-img {
    height: 70px;
    object-fit: cover;
    border-radius: 14px;
}

.cart-item-addopt-list {
    list-style: none;
    padding: 0;
    margin: 0;

    font-size: smaller;
    opacity: 0.6;
}
.cart-item-addopt-list li {
    margin-top: -5px;

}

.cart-counter-value {
    width: 30px;
    height: 100%;
    text-align: center;
    border: 0;
    background-color: #f0f0f0;
}

.cart-item-grid .counter {
    height: 35px;
    background-color: #f0f0f0;
    border-radius: 14px;
}

.cart-item-grid .counter button {  
    display: flex;

    width: 100%;
    height: 35px;
    border-radius: 14px;

    align-items: center;
    justify-content: center;

}

.cart-service-fee {
    --border-style: none;
}

.anything-else-block {
    background-color: #fff;
    border-radius: 14px;
    margin-top: 10px;
}


.item-card-cart {
    display: block;
    background-color: #F5F4F2;
    margin: 0;
    height: 255px;
    border-radius: 14px;
    position: relative; /* Добавляем позиционирование для родительского элемента */
}

.item-img-cart{
    height: 100px;
    object-fit: cover;
}


/* payment */

.pay-method-radio {
    font-size: large;
    font-weight: bold;

    display: flex;
    align-items: center;
    height: 80px;
}

ion-radio::part(container) {
    width: 30px;
    height: 30px;

    border-radius: 15px;
    border: 2px solid #ddd;

  
  }

  ion-radio::part(mark) {
    background: none;
    transition: none;
    transform: none;
    border-radius: 0;transition: 1s;
  }

  ion-radio.radio-checked::part(container) {
    background: #E96E0E;
    border-color: transparent;
    transition: 0.3s;
  }

  ion-radio.radio-checked::part(mark) {
    width: 8px;
    height: 13px;

    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #fff;

    transform: rotate(45deg);
    transition: 0.3s;
  }
